{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/function.js' %}"></script> 
    <title>Document</title>
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form id="trabajoForm">
            <div class="txt_field">
                <input type="text" id="User" required>
                <span></span>
                <label>Nombre de usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" id="Clave" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="pass">
                Olvidaste tu contraseña?
            </div>
            <input type="submit" value="Iniciar sesión" id="crearCarta">
            <div class="signup_link">
                No tienes cuenta? <a href="">Registrate</a>
            </div>
            <a href="{% url 'servicios' %}">Mostrar Servicios</a>
        </form>
    </div>   
</body>
</html>
