<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola mundo</h1>
    <ul>
        {% for servicio in servicios %}
        <li>
            <h2>{{servicio.id_servicio}}</h2>
            <p>Precio: {{servicio.precio}}</p> 
            <img src="{{servicio.foto.url}}" alt="">
            <p>Foto de {{servicio.descripcion}}</p>
        {% endfor%}
        </li>
    </ul>
    
</body>
</html>